utils/EGIen Nuevo sistema de facturas (TESTEANDO).blueprint.json
{
    "name": "EGIen Nuevo sistema de facturas (TESTEANDO)",
    "flow": [
        {
            "id": 17,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3218077,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Receive-invoice-data"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{\r\n  \"NL\": {\r\n    \"factura_titulo\": \"Factuur\",\r\n    \"direccion_entrega\": \"Leveringsadres\",\r\n    \"direccion_facturacion\": \"Facturatieadres\",\r\n    \"numero_factura\": \"Factuurnummer\",\r\n    \"fecha_factura\": \"Factuurdatum\",\r\n    \"numero_pedido\": \"Bestelnummer\",\r\n    \"fecha_pedido\": \"Besteldatum\",\r\n    \"numero_iva\": \"Btw-nummer\",\r\n    \"referencia\": \"Referentie\",\r\n    \"producto\": \"Product\",\r\n    \"tasa_impuesto\": \"Belastingtarief\",\r\n    \"precio_unitario_excl\": \"Eenheidsprijs (excl. btw)\",\r\n    \"cantidad\": \"Aantal\",\r\n    \"total_excl\": \"Totaal (excl. btw)\",\r\n    \"desglose_impuestos\": \"Belastinguitsplitsing\",\r\n    \"tasa_impuesto_detalle\": \"Belastingtarief\",\r\n    \"total_impuesto\": \"Totaal belasting\",\r\n    \"metodo_pago\": \"Betaalmethode\",\r\n    \"total_productos\": \"Totaal producten\",\r\n    \"gastos_envio\": \"Verzendkosten\",\r\n    \"envio_gratis\": \"Gratis verzending\",\r\n    \"total_sin_iva\": \"Subtotaal (excl. btw)\",\r\n    \"total_impuesto_label\": \"Totaal belasting\",\r\n    \"total_descuentos\": \"Totale kortingen\",\r\n    \"total\": \"Totaal\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - Spanje\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. met BTW-nummer BE0899464478 Ingeschreven in het handelsregister van Palma de Mallorca, deel 2.436, blad 181, pagina PM66389, inschrijving 1.\"\r\n  },\r\n  \"FR\": {\r\n    \"factura_titulo\": \"Facture\",\r\n    \"direccion_entrega\": \"Adresse de livraison\",\r\n    \"direccion_facturacion\": \"Adresse de facturation\",\r\n    \"numero_factura\": \"Numéro de facture\",\r\n    \"fecha_factura\": \"Date de facture\",\r\n    \"numero_pedido\": \"Numéro de commande\",\r\n    \"fecha_pedido\": \"Date de commande\",\r\n    \"numero_iva\": \"Numéro de TVA\",\r\n    \"referencia\": \"Référence\",\r\n    \"producto\": \"Produit\",\r\n    \"tasa_impuesto\": \"Taux de taxe\",\r\n    \"precio_unitario_excl\": \"Prix unitaire (HT)\",\r\n    \"cantidad\": \"Qté\",\r\n    \"total_excl\": \"Total (HT)\",\r\n    \"desglose_impuestos\": \"Détail des taxes\",\r\n    \"tasa_impuesto_detalle\": \"Taux de taxe\",\r\n    \"total_impuesto\": \"Total taxe\",\r\n    \"metodo_pago\": \"Mode de paiement\",\r\n    \"total_productos\": \"Total produits\",\r\n    \"gastos_envio\": \"Frais de livraison\",\r\n    \"envio_gratis\": \"Livraison gratuite\",\r\n    \"total_sin_iva\": \"Sous-total (HT)\",\r\n    \"total_impuesto_label\": \"Total taxe\",\r\n    \"total_descuentos\": \"Total des remises\",\r\n    \"total\": \"Total\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - Espagne\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. avec SIRET FR84941811242 Inscrit au Registre du Commerce de Palma de Mallorca, Volume 2.436, Folio 181, Page PM66389, Inscription 1.\"\r\n  },\r\n  \"DE\": {\r\n    \"factura_titulo\": \"Rechnung\",\r\n    \"direccion_entrega\": \"Lieferadresse\",\r\n    \"direccion_facturacion\": \"Rechnungsadresse\",\r\n    \"numero_factura\": \"Rechnungsnummer\",\r\n    \"fecha_factura\": \"Rechnungsdatum\",\r\n    \"numero_pedido\": \"Bestellnummer\",\r\n    \"fecha_pedido\": \"Bestelldatum\",\r\n    \"numero_iva\": \"USt-IdNr.\",\r\n    \"referencia\": \"Referenz\",\r\n    \"producto\": \"Produkt\",\r\n    \"tasa_impuesto\": \"Steuersatz\",\r\n    \"precio_unitario_excl\": \"Einzelpreis (ohne MwSt.)\",\r\n    \"cantidad\": \"Menge\",\r\n    \"total_excl\": \"Gesamt (ohne MwSt.)\",\r\n    \"desglose_impuestos\": \"Steueraufschlüsselung\",\r\n    \"tasa_impuesto_detalle\": \"Steuersatz\",\r\n    \"total_impuesto\": \"Steuersumme\",\r\n    \"metodo_pago\": \"Zahlungsmethode\",\r\n    \"total_productos\": \"Produktsumme\",\r\n    \"gastos_envio\": \"Versandkosten\",\r\n    \"envio_gratis\": \"Kostenloser Versand\",\r\n    \"total_sin_iva\": \"Zwischensumme (ohne MwSt.)\",\r\n    \"total_impuesto_label\": \"Gesamtsteuer\",\r\n    \"total_descuentos\": \"Gesamtrabatte\",\r\n    \"total\": \"Gesamt\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - España\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. mit der Umsatzsteuernummer DE454790281 Eingetragen im Handelsregister von Palma de Mallorca, Band 2.436, Folio 181, Seite PM66389, Eintragung 1\"\r\n  },\r\n  \"EN\": {\r\n    \"factura_titulo\": \"Invoice\",\r\n    \"direccion_entrega\": \"Shipping Address\",\r\n    \"direccion_facturacion\": \"Billing Address\",\r\n    \"numero_factura\": \"Invoice Number\",\r\n    \"fecha_factura\": \"Invoice Date\",\r\n    \"numero_pedido\": \"Order Number\",\r\n    \"fecha_pedido\": \"Order Date\",\r\n    \"numero_iva\": \"VAT Number\",\r\n    \"referencia\": \"Reference\",\r\n    \"producto\": \"Product\",\r\n    \"tasa_impuesto\": \"Tax Rate\",\r\n    \"precio_unitario_excl\": \"Unit price (Tax excl.)\",\r\n    \"cantidad\": \"Qty\",\r\n    \"total_excl\": \"Total (Tax excl.)\",\r\n    \"desglose_impuestos\": \"Tax Breakdown\",\r\n    \"tasa_impuesto_detalle\": \"Tax Rate\",\r\n    \"total_impuesto\": \"Tax Total\",\r\n    \"metodo_pago\": \"Payment Method\",\r\n    \"total_productos\": \"Products Total\",\r\n    \"gastos_envio\": \"Shipping\",\r\n    \"envio_gratis\": \"Free shipping\",\r\n    \"total_sin_iva\": \"Subtotal (excl. tax)\",\r\n    \"total_impuesto_label\": \"Tax total\",\r\n    \"total_descuentos\": \"Total discounts\",\r\n    \"total\": \"Total\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - España\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. with tax code IE4414189TH Registered in the Mercantile Register of Palma de Mallorca, Volume 2.436, Folio 181, Page PM66389, Inscription 1.\"\r\n  },\r\n  \"IT\": {\r\n    \"factura_titulo\": \"Fattura\",\r\n    \"direccion_entrega\": \"Indirizzo di consegna\",\r\n    \"direccion_facturacion\": \"Indirizzo di fatturazione\",\r\n    \"numero_factura\": \"Numero fattura\",\r\n    \"fecha_factura\": \"Data fattura\",\r\n    \"numero_pedido\": \"Numero ordine\",\r\n    \"fecha_pedido\": \"Data ordine\",\r\n    \"numero_iva\": \"Partita IVA\",\r\n    \"referencia\": \"Riferimento\",\r\n    \"producto\": \"Prodotto\",\r\n    \"tasa_impuesto\": \"Aliquota IVA\",\r\n    \"precio_unitario_excl\": \"Prezzo unitario (IVA escl.)\",\r\n    \"cantidad\": \"Q.tà\",\r\n    \"total_excl\": \"Totale (IVA escl.)\",\r\n    \"desglose_impuestos\": \"Dettaglio imposte\",\r\n    \"tasa_impuesto_detalle\": \"Aliquota IVA\",\r\n    \"total_impuesto\": \"Totale IVA\",\r\n    \"metodo_pago\": \"Metodo di pagamento\",\r\n    \"total_productos\": \"Totale prodotti\",\r\n    \"gastos_envio\": \"Spese di spedizione\",\r\n    \"envio_gratis\": \"Spedizione gratuita\",\r\n    \"total_sin_iva\": \"Subtotale (IVA escl.)\",\r\n    \"total_impuesto_label\": \"Totale IVA\",\r\n    \"total_descuentos\": \"Totale sconti\",\r\n    \"total\": \"Totale\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - España\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. con P.IVA IT08765432109 Iscritta al Registro delle Imprese di Palma di Maiorca, Volume 2.436, Foglio 181, Pagina PM66389, Iscrizione 1.\"\r\n  },\r\n  \"PT\": {\r\n    \"factura_titulo\": \"Fatura\",\r\n    \"direccion_entrega\": \"Endereço de Entrega\",\r\n    \"direccion_facturacion\": \"Endereço de Faturamento\",\r\n    \"numero_factura\": \"Número da Fatura\",\r\n    \"fecha_factura\": \"Data da Fatura\",\r\n    \"numero_pedido\": \"Número do Pedido\",\r\n    \"fecha_pedido\": \"Data do Pedido\",\r\n    \"numero_iva\": \"Número de IVA\",\r\n    \"referencia\": \"Referência\",\r\n    \"producto\": \"Produto\",\r\n    \"tasa_impuesto\": \"Taxa de Imposto\",\r\n    \"precio_unitario_excl\": \"Preço unitário (sem impostos)\",\r\n    \"cantidad\": \"Qtd.\",\r\n    \"total_excl\": \"Total (sem impostos)\",\r\n    \"desglose_impuestos\": \"Detalhamento de Impostos\",\r\n    \"tasa_impuesto_detalle\": \"Taxa de Imposto\",\r\n    \"total_impuesto\": \"Total de Impostos\",\r\n    \"metodo_pago\": \"Método de Pagamento\",\r\n    \"total_productos\": \"Total de Produtos\",\r\n    \"gastos_envio\": \"Custos de Envio\",\r\n    \"envio_gratis\": \"Envio gratuito\",\r\n    \"total_sin_iva\": \"Subtotal (sem IVA)\",\r\n    \"total_impuesto_label\": \"Total de impostos\",\r\n    \"total_descuentos\": \"Total de descontos\",\r\n    \"total\": \"Total\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - España\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. com o código fiscal ESB57679714 Inscrita no Registo Comercial de Palma de Maiorca, Tomo 2.436, Fólio 181, Folha PM66389, Inscrição 1.\"\r\n  },\r\n  \"ES\": {\r\n    \"factura_titulo\": \"Factura\",\r\n    \"direccion_entrega\": \"Dirección de Entrega\",\r\n    \"direccion_facturacion\": \"Dirección de Facturación\",\r\n    \"numero_factura\": \"Número de Factura\",\r\n    \"fecha_factura\": \"Fecha de Factura\",\r\n    \"numero_pedido\": \"Número de Pedido\",\r\n    \"fecha_pedido\": \"Fecha de Pedido\",\r\n    \"numero_iva\": \"Número de IVA\",\r\n    \"referencia\": \"Referencia\",\r\n    \"producto\": \"Producto\",\r\n    \"tasa_impuesto\": \"Tasa de Impuesto\",\r\n    \"precio_unitario_excl\": \"Precio unitario (Impuestos excl.)\",\r\n    \"cantidad\": \"Cant.\",\r\n    \"total_excl\": \"Total (Impuestos excl.)\",\r\n    \"desglose_impuestos\": \"Desglose de Impuestos\",\r\n    \"tasa_impuesto_detalle\": \"Tasa de Impuesto\",\r\n    \"total_impuesto\": \"Total Impuesto\",\r\n    \"metodo_pago\": \"Método de pago\",\r\n    \"total_productos\": \"Total Productos\",\r\n    \"gastos_envio\": \"Gastos de envío\",\r\n    \"envio_gratis\": \"Envío gratis\",\r\n    \"total_sin_iva\": \"Total (sin IVA)\",\r\n    \"total_impuesto_label\": \"Total impuesto\",\r\n    \"total_descuentos\": \"Total descuentos\",\r\n    \"total\": \"Total\",\r\n    \"habitium_direccion\": \"Habitium - Camí Passatemps, 86 - 07120 Palma - Balears - Mallorca - España\",\r\n    \"reformam_network_2010\": \"Reformam Network 2010 S.L. con CIF ESB57679714 Inscrita en el Registro Mercantil de Palma de Mallorca, Tomo 2.436, Folio 181, Hoja PM66389, Inscripción 1\"\r\n  }\r\n}\r\n​"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "JSON labels por idioma"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 91,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Tienda",
                        "value": "{{get(`26`; if(contains(17.shopName; \"BE\"); \"NL\"; if(contains(17.shopName; \"FR\"); \"FR\"; if(contains(17.shopName; \"DE\"); \"DE\"; if(contains(17.shopName; \"IR\"); \"EN\"; if(contains(17.shopName; \"IT\"); \"IT\"; if(contains(17.shopName; \"LU\"); \"FR\"; if(contains(17.shopName; \"PT\"); \"PT\"; if(contains(17.shopName; \"ES\"); \"ES\"; \"EN\")))))))))}}"
                    },
                    {
                        "name": "country_id",
                        "value": "{{if(contains(17.shopName; \"BE\"); 1; if(contains(17.shopName; \"FR\"); 2; if(contains(17.shopName; \"DE\"); 3; if(contains(17.shopName; \"IR\"); 4; if(contains(17.shopName; \"IT\"); 5; if(contains(17.shopName; \"LU\"); 6; if(contains(17.shopName; \"PT\"); 7; if(contains(17.shopName; \"ES\"); 8; 0))))))))}}"
                    },
                    {
                        "name": "data-invoicenumber-reemplazado",
                        "value": "{{replace(`17`; 17.invoiceNumber; )}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Elegir variables por idioma"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Tienda",
                        "type": "any",
                        "label": "Tienda"
                    },
                    {
                        "name": "country_id",
                        "type": "any",
                        "label": "country_id"
                    },
                    {
                        "name": "data-invoicenumber-reemplazado",
                        "type": "any",
                        "label": "data-invoicenumber-reemplazado"
                    }
                ]
            }
        },
        {
            "id": 118,
            "module": "nocodb:create",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10162581
            },
            "mapper": {
                "record": {
                    "lang": "{{17.orderLang}}",
                    "orderDate": "{{17.dateOrder}}",
                    "reference": "{{17.orderReference}}",
                    "orderNumber": "{{17.idOrder}}",
                    "paymentMethod": "{{17.paymentMethod}}"
                },
                "selectedTable": "ps_orders||ps_orders||mf6ioqreb7p5meb",
                "selectedProject": "pzxd3s4l0ub6d37"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Insert order"
                },
                "restore": {
                    "expect": {
                        "selectedTable": {
                            "mode": "chose",
                            "label": "ps_orders"
                        },
                        "selectedProject": {
                            "mode": "chose",
                            "label": "Nuevo_Sistema_de_Facturas"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "nocodb"
                            },
                            "label": "Noco-KB (axperezreformam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:nocodb",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "selectedProject",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "selectedTable",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "orderNumber",
                                "type": "text"
                            },
                            {
                                "name": "reference",
                                "type": "text"
                            },
                            {
                                "name": "lang",
                                "type": "text"
                            },
                            {
                                "name": "orderDate",
                                "type": "date"
                            },
                            {
                                "name": "paymentMethod",
                                "type": "text"
                            },
                            {
                                "name": "invoices",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Record",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id",
                        "editable": false,
                        "creatable": false
                    },
                    {
                        "name": "orderNumber",
                        "type": "text",
                        "label": "orderNumber",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "reference",
                        "type": "text",
                        "label": "reference",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "lang",
                        "type": "text",
                        "label": "lang",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "orderDate",
                        "type": "date",
                        "label": "orderDate",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "paymentMethod",
                        "type": "text",
                        "label": "paymentMethod",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "invoices",
                        "type": "text",
                        "label": "invoices",
                        "editable": true,
                        "creatable": true
                    }
                ]
            }
        },
        {
            "id": 119,
            "module": "nocodb:create",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10162581
            },
            "mapper": {
                "record": {
                    "order_id": "{{118.id}}",
                    "country_id": "{{91.country_id}}",
                    "invoiceDate": "{{17.invoiceDate}}"
                },
                "selectedTable": "invoice||invoice||mj4wrkk9yfth8aa",
                "selectedProject": "pzxd3s4l0ub6d37"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "Insert invoice"
                },
                "restore": {
                    "expect": {
                        "selectedTable": {
                            "mode": "chose",
                            "label": "invoice"
                        },
                        "selectedProject": {
                            "mode": "chose",
                            "label": "Nuevo_Sistema_de_Facturas"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "nocodb"
                            },
                            "label": "Noco-KB (axperezreformam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:nocodb",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "selectedProject",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "selectedTable",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "invoiceNumber",
                                "type": "text"
                            },
                            {
                                "name": "invoiceDate",
                                "type": "date"
                            },
                            {
                                "name": "AWSfileURL",
                                "type": "text"
                            },
                            {
                                "name": "order_id",
                                "type": "text"
                            },
                            {
                                "name": "country_id",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Record",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id",
                        "editable": false,
                        "creatable": false
                    },
                    {
                        "name": "invoiceNumber",
                        "type": "text",
                        "label": "invoiceNumber",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "invoiceDate",
                        "type": "date",
                        "label": "invoiceDate",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "AWSfileURL",
                        "type": "text",
                        "label": "AWSfileURL",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "order_id",
                        "type": "text",
                        "label": "order_id",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "country_id",
                        "type": "text",
                        "label": "country_id",
                        "editable": true,
                        "creatable": true
                    },
                    {
                        "name": "ps_orders",
                        "type": "text",
                        "label": "ps_orders",
                        "editable": false,
                        "creatable": false
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "country",
                        "editable": false,
                        "creatable": false
                    }
                ]
            }
        },
        {
            "id": 122,
            "module": "regexp:Replace",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "{{`17`}}",
                "value": "\"invoiceNumber\":{{119.invoiceNumber}}",
                "global": true,
                "pattern": "\"invoiceNumber\"\\s*:\\s*\"?\\d+\"?",
                "multiline": false,
                "sensitive": true,
                "singleline": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "global": {
                            "mode": "chose"
                        },
                        "multiline": {
                            "mode": "chose"
                        },
                        "sensitive": {
                            "mode": "chose"
                        },
                        "singleline": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "New value"
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 90,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "JSON-completo-invoice",
                        "value": "{\n\"labels\":{{91.Tienda}},\n\"data\": {{122.text}}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150,
                    "name": "JSON-POST"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "JSON-completo-invoice",
                        "type": "any",
                        "label": "JSON-completo-invoice"
                    }
                ]
            }
        },
        {
            "id": 116,
            "module": "http:ActionSendDataBasicAuth",
            "version": 3,
            "parameters": {
                "key": 134140,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://vocal-mule-literate.ngrok-free.app/pdf",
                "data": "{{90.`JSON-completo-invoice`}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    },
                    "parameters": {
                        "key": {
                            "label": "Invoice-PDF-generator-API"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "key",
                        "type": "keychain:basicauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "cookieHeaders",
                        "type": "array",
                        "label": "Cookie headers"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status code"
                    },
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    }
                ]
            }
        },
        {
            "id": 125,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 117,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 189857
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{116.statusCode}}",
                                            "b": "200",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": "{{116.data}}",
                                "select": "value",
                                "convert": false,
                                "filename": "Factura {{119.invoiceNumber}}.pdf",
                                "folderId": "1ljPEGAxAVT4HNNIyk0QygVtK1C6ng47C",
                                "destination": "share"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0,
                                    "name": "Crear archivo .PDF en Drive"
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Facturas_MAKE"
                                            ]
                                        },
                                        "destination": {
                                            "label": "Shared With Me"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "Google drive (jriutord@materialesdefabrica.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Folder Location",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "text",
                                        "label": "Mime Type"
                                    },
                                    {
                                        "name": "kind",
                                        "type": "text",
                                        "label": "Kind"
                                    },
                                    {
                                        "name": "starred",
                                        "type": "boolean",
                                        "label": "Starred"
                                    },
                                    {
                                        "name": "trashed",
                                        "type": "boolean",
                                        "label": "Trashed"
                                    },
                                    {
                                        "name": "explicitlyTrashed",
                                        "type": "boolean",
                                        "label": "Explicitly Trashed"
                                    },
                                    {
                                        "name": "parents",
                                        "type": "array",
                                        "label": "Parents"
                                    },
                                    {
                                        "name": "spaces",
                                        "type": "array",
                                        "label": "Spaces"
                                    },
                                    {
                                        "name": "version",
                                        "type": "number",
                                        "label": "Version"
                                    },
                                    {
                                        "name": "webContentLink",
                                        "type": "url",
                                        "label": "Web Content Link"
                                    },
                                    {
                                        "name": "webViewLink",
                                        "type": "url",
                                        "label": "Web View Link"
                                    },
                                    {
                                        "name": "iconLink",
                                        "type": "url",
                                        "label": "Icon Link"
                                    },
                                    {
                                        "name": "hasThumbnail",
                                        "type": "boolean",
                                        "label": "Thumbnail"
                                    },
                                    {
                                        "name": "thumbnailLink",
                                        "type": "url",
                                        "label": "Thumbnail Link"
                                    },
                                    {
                                        "name": "thumbnailVersion",
                                        "type": "number",
                                        "label": "Thumbnail Version"
                                    },
                                    {
                                        "name": "viewedByMe",
                                        "type": "boolean",
                                        "label": "Viewed By Me"
                                    },
                                    {
                                        "name": "viewedByMeTime",
                                        "type": "date",
                                        "label": "Viewed By Me Time"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "modifiedTime",
                                        "time": true,
                                        "type": "date",
                                        "label": "Modified Time"
                                    },
                                    {
                                        "name": "modifiedByMeTime",
                                        "time": true,
                                        "type": "date",
                                        "label": "Modified By Me Time"
                                    },
                                    {
                                        "name": "modifiedByMe",
                                        "type": "boolean",
                                        "label": "Modified By Me"
                                    },
                                    {
                                        "name": "teamDriveId",
                                        "type": "text",
                                        "label": "Team Drive ID"
                                    },
                                    {
                                        "name": "driveId",
                                        "type": "text",
                                        "label": "Drive ID"
                                    },
                                    {
                                        "name": "owners",
                                        "spec": [
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            },
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Display Name"
                                            },
                                            {
                                                "name": "photoLink",
                                                "type": "url",
                                                "label": "Photo Link"
                                            },
                                            {
                                                "name": "me",
                                                "type": "boolean",
                                                "label": "Me"
                                            },
                                            {
                                                "name": "permissionId",
                                                "type": "text",
                                                "label": "Permission ID"
                                            },
                                            {
                                                "name": "emailAddress",
                                                "type": "email",
                                                "label": "Email Address"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Owners"
                                    },
                                    {
                                        "name": "lastModifyingUser",
                                        "spec": [
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            },
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Display Name"
                                            },
                                            {
                                                "name": "photoLink",
                                                "type": "url",
                                                "label": "Photo Link"
                                            },
                                            {
                                                "name": "me",
                                                "type": "boolean",
                                                "label": "Me"
                                            },
                                            {
                                                "name": "permissionId",
                                                "type": "text",
                                                "label": "Permission ID"
                                            },
                                            {
                                                "name": "emailAddress",
                                                "type": "email",
                                                "label": "Email Address"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Last Modifying User"
                                    },
                                    {
                                        "name": "shared",
                                        "type": "boolean",
                                        "label": "Shared"
                                    },
                                    {
                                        "name": "ownedByMe",
                                        "type": "boolean",
                                        "label": "Owned By Me"
                                    },
                                    {
                                        "name": "capabilities",
                                        "spec": [
                                            {
                                                "name": "canAddChildren",
                                                "type": "boolean",
                                                "label": "Can Add Children"
                                            },
                                            {
                                                "name": "canChangeCopyRequiresWriterPermission",
                                                "type": "boolean",
                                                "label": "Can Change Copy Requires Writer Permission"
                                            },
                                            {
                                                "name": "canChangeViewersCanCopyContent",
                                                "type": "boolean",
                                                "label": "Can Change Viewers Can Copy Content"
                                            },
                                            {
                                                "name": "canComment",
                                                "type": "boolean",
                                                "label": "Can Comment"
                                            },
                                            {
                                                "name": "canCopy",
                                                "type": "boolean",
                                                "label": "Can Copy"
                                            },
                                            {
                                                "name": "canDelete",
                                                "type": "boolean",
                                                "label": "Can Delete"
                                            },
                                            {
                                                "name": "canDownload",
                                                "type": "boolean",
                                                "label": "Can Download"
                                            },
                                            {
                                                "name": "canEdit",
                                                "type": "boolean",
                                                "label": "Can Edit"
                                            },
                                            {
                                                "name": "canListChildren",
                                                "type": "boolean",
                                                "label": "Can List Children"
                                            },
                                            {
                                                "name": "canModifyContent",
                                                "type": "boolean",
                                                "label": "Can Modify Content"
                                            },
                                            {
                                                "name": "canMoveChildrenOutOfTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Move Children Out Of Team Drive"
                                            },
                                            {
                                                "name": "canMoveChildrenOutOfDrive",
                                                "type": "boolean",
                                                "label": "Can Move Children Out Of Drive"
                                            },
                                            {
                                                "name": "canMoveChildrenWithinTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Move Children Within Team Drive"
                                            },
                                            {
                                                "name": "canMoveChildrenWithinDrive",
                                                "type": "boolean",
                                                "label": "Can Move Children Within Drive"
                                            },
                                            {
                                                "name": "canMoveItemIntoTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Move Item Into Team Drive"
                                            },
                                            {
                                                "name": "canMoveItemOutOfTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Move Item Out Of Team Drive"
                                            },
                                            {
                                                "name": "canMoveItemOutOfDrive",
                                                "type": "boolean",
                                                "label": "Can Move Item Out Of Drive"
                                            },
                                            {
                                                "name": "canMoveItemWithinTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Move Item Within Team Drive"
                                            },
                                            {
                                                "name": "canMoveItemWithinDrive",
                                                "type": "boolean",
                                                "label": "Can Move Item Within Drive"
                                            },
                                            {
                                                "name": "canMoveTeamDriveItem",
                                                "type": "boolean",
                                                "label": "Can Move Team Drive Item"
                                            },
                                            {
                                                "name": "canReadRevisions",
                                                "type": "boolean",
                                                "label": "Can Read Revisions"
                                            },
                                            {
                                                "name": "canReadTeamDrive",
                                                "type": "boolean",
                                                "label": "Can Read Team Drive"
                                            },
                                            {
                                                "name": "canReadDrive",
                                                "type": "boolean",
                                                "label": "Can Read Drive"
                                            },
                                            {
                                                "name": "canRemoveChildren",
                                                "type": "boolean",
                                                "label": "Can Remove Children"
                                            },
                                            {
                                                "name": "canRename",
                                                "type": "boolean",
                                                "label": "Can Rename"
                                            },
                                            {
                                                "name": "canShare",
                                                "type": "boolean",
                                                "label": "Can Share"
                                            },
                                            {
                                                "name": "canTrash",
                                                "type": "boolean",
                                                "label": "Can Trash"
                                            },
                                            {
                                                "name": "canTrashChildren",
                                                "type": "boolean",
                                                "label": "Can Trash Children"
                                            },
                                            {
                                                "name": "canUntrash",
                                                "type": "boolean",
                                                "label": "Can Untrash"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Capabilities"
                                    },
                                    {
                                        "name": "viewersCanCopyContent",
                                        "type": "boolean",
                                        "label": "Viewers Can Copy Content"
                                    },
                                    {
                                        "name": "copyRequiresWriterPermission",
                                        "type": "boolean",
                                        "label": "Copy Requires Writer Permission"
                                    },
                                    {
                                        "name": "writersCanShare",
                                        "type": "boolean",
                                        "label": "Writers Can Share"
                                    },
                                    {
                                        "name": "permissions",
                                        "spec": [
                                            {
                                                "name": "kind",
                                                "type": "text",
                                                "label": "Kind"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Permission ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "role",
                                                "type": "text",
                                                "label": "Role"
                                            },
                                            {
                                                "name": "allowFileDiscovery",
                                                "type": "boolean",
                                                "label": "Allow File Discovery"
                                            },
                                            {
                                                "name": "emailAddress",
                                                "type": "email",
                                                "label": "Email Address"
                                            },
                                            {
                                                "name": "displayName",
                                                "type": "text",
                                                "label": "Display Name"
                                            },
                                            {
                                                "name": "photoLink",
                                                "type": "url",
                                                "label": "Photo Link"
                                            },
                                            {
                                                "name": "deleted",
                                                "type": "boolean",
                                                "label": "Deleted"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Permissions"
                                    },
                                    {
                                        "name": "permissionIds",
                                        "type": "array",
                                        "label": "Permission IDs"
                                    },
                                    {
                                        "name": "hasAugmentedPermissions",
                                        "type": "boolean",
                                        "label": "Has Augmented Permissions"
                                    },
                                    {
                                        "name": "originalFilename",
                                        "type": "text",
                                        "label": "Original Filename"
                                    },
                                    {
                                        "name": "fullFileExtension",
                                        "type": "text",
                                        "label": "Full File Extension"
                                    },
                                    {
                                        "name": "fileExtension",
                                        "type": "text",
                                        "label": "File Extension"
                                    },
                                    {
                                        "name": "size",
                                        "type": "uinteger",
                                        "label": "Size"
                                    },
                                    {
                                        "name": "quotaBytesUsed",
                                        "type": "uinteger",
                                        "label": "Quota Bytes Used"
                                    },
                                    {
                                        "name": "headRevisionId",
                                        "type": "text",
                                        "label": "Head Revision ID"
                                    },
                                    {
                                        "name": "isAppAuthorized",
                                        "type": "boolean",
                                        "label": "App Authorized"
                                    },
                                    {
                                        "name": "exportLinks",
                                        "spec": [
                                            {
                                                "name": "application/vnd.oasis.opendocument.text",
                                                "type": "url",
                                                "label": "application/vnd.oasis.opendocument.text"
                                            },
                                            {
                                                "name": "application/pdf",
                                                "type": "url",
                                                "label": "application/pdf"
                                            },
                                            {
                                                "name": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "type": "url",
                                                "label": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                            },
                                            {
                                                "name": "text/plain",
                                                "type": "url",
                                                "label": "text/plain"
                                            },
                                            {
                                                "name": "application/rtf",
                                                "type": "url",
                                                "label": "application/rtf"
                                            },
                                            {
                                                "name": "text/html",
                                                "type": "url",
                                                "label": "text/html"
                                            },
                                            {
                                                "name": "application/epub+zip",
                                                "type": "url",
                                                "label": "application/epub+zip"
                                            },
                                            {
                                                "name": "application/zip",
                                                "type": "url",
                                                "label": "application/zip"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Export Links"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 124,
                            "module": "nocodb:updateRecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10162581
                            },
                            "mapper": {
                                "id": "{{119.id}}",
                                "record": {
                                    "AWSfileURL": "{{117.webContentLink}}"
                                },
                                "selectedTable": "invoice||invoice||mj4wrkk9yfth8aa",
                                "selectedProject": "pzxd3s4l0ub6d37",
                                "primaryKeyColumnName": "id"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "selectedTable": {
                                            "mode": "chose",
                                            "label": "invoice"
                                        },
                                        "selectedProject": {
                                            "mode": "chose",
                                            "label": "Nuevo_Sistema_de_Facturas"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "nocodb"
                                            },
                                            "label": "Noco-KB (axperezreformam@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:nocodb",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "selectedProject",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "selectedTable",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "required": true
                                    },
                                    {
                                        "name": "primaryKeyColumnName",
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "invoiceNumber",
                                                "type": "text"
                                            },
                                            {
                                                "name": "invoiceDate",
                                                "type": "date"
                                            },
                                            {
                                                "name": "AWSfileURL",
                                                "type": "text"
                                            },
                                            {
                                                "name": "order_id",
                                                "type": "text"
                                            },
                                            {
                                                "name": "country_id",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "id",
                                        "editable": false,
                                        "creatable": false
                                    },
                                    {
                                        "name": "invoiceNumber",
                                        "type": "text",
                                        "label": "invoiceNumber",
                                        "editable": true,
                                        "creatable": true
                                    },
                                    {
                                        "name": "invoiceDate",
                                        "type": "date",
                                        "label": "invoiceDate",
                                        "editable": true,
                                        "creatable": true
                                    },
                                    {
                                        "name": "AWSfileURL",
                                        "type": "text",
                                        "label": "AWSfileURL",
                                        "editable": true,
                                        "creatable": true
                                    },
                                    {
                                        "name": "order_id",
                                        "type": "text",
                                        "label": "order_id",
                                        "editable": true,
                                        "creatable": true
                                    },
                                    {
                                        "name": "country_id",
                                        "type": "text",
                                        "label": "country_id",
                                        "editable": true,
                                        "creatable": true
                                    },
                                    {
                                        "name": "ps_orders",
                                        "type": "text",
                                        "label": "ps_orders",
                                        "editable": false,
                                        "creatable": false
                                    },
                                    {
                                        "name": "country",
                                        "type": "text",
                                        "label": "country",
                                        "editable": false,
                                        "creatable": false
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 126,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 35365
                            },
                            "filter": {
                                "name": "No encuentra",
                                "conditions": []
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "0": "Alta",
                                    "1": "https://eu2.make.com/14251/scenarios/6623717/edit?folder=10033",
                                    "2": "Falló API para generar PDF factura",
                                    "3": "Status code: {{116.statusCode}}, descripción: {{116.data.error}}",
                                    "4": "97",
                                    "7": "{{var.scenario.url}}/logs/{{var.scenario.executionId}}?showCheckRuns=true",
                                    "8": "{{var.scenario.id}}97",
                                    "9": "{{formatDate(now; \"DD/MM/YYYY\")}}",
                                    "11": "=CONTAR.SI.CONJUNTO(I:I,{{var.scenario.id}}97,F:F,FALSO)",
                                    "12": "=CONTAR.SI(I:I,{{var.scenario.id}}97)",
                                    "13": "{{substring(var.scenario.name; 0; 5)}}"
                                },
                                "sheetId": "Hoja 1",
                                "spreadsheetId": "10axCAm5sMLJ9HYwgrYfNvbcKbILGvpqqxBpjDJvbNGc",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300,
                                    "name": "Registrar error"
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Hoja 1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Prioridad (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Link del Escenario (completar en Make con {{var.scenario.url}}) (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Resumen (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Detalle (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Numero de modulo (completar en Make manualmente) (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Solucionado (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Observación (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Link de la ejecución (completar en Make con {{var.scenario.url}}/logs/{{var.scenario.executionId}}?showCheckRuns=true) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Escenario+Módulo (completar en Make con {{var.scenario.id}}NÚMERO_DE_MÓDULO) (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Fecha de ejecución (completar en Make con {{formatDate(now; \"DD/MM/YYYY\")}}) (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Tipo de error (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Errores del módulo no resueltos (completar en Make con =CONTAR.SI.CONJUNTO(I:I,{{var.scenario.id}}NÚMERO_DE_MÓDULO,F:F,FALSO)) (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Errores totales del módulo (completar en Make con =CONTAR.SI(I:I,{{var.scenario.id}}NÚMERO_DE_MÓDULO)) (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "Encargado (compeltar en Make con {{substring(var.scenario.name; 0; 5)}}) (N)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "Google Drive (jriutord@materialesdefabrica.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Prioridad (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Link del Escenario (completar en Make con {{var.scenario.url}}) (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Resumen (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Detalle (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Numero de modulo (completar en Make manualmente) (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Solucionado (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Observación (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Link de la ejecución (completar en Make con {{var.scenario.url}}/logs/{{var.scenario.executionId}}?showCheckRuns=true) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Escenario+Módulo (completar en Make con {{var.scenario.id}}NÚMERO_DE_MÓDULO) (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Fecha de ejecución (completar en Make con {{formatDate(now; \"DD/MM/YYYY\")}}) (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Tipo de error (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Errores del módulo no resueltos (completar en Make con =CONTAR.SI.CONJUNTO(I:I,{{var.scenario.id}}NÚMERO_DE_MÓDULO,F:F,FALSO)) (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Errores totales del módulo (completar en Make con =CONTAR.SI(I:I,{{var.scenario.id}}NÚMERO_DE_MÓDULO)) (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "Encargado (compeltar en Make con {{substring(var.scenario.name; 0; 5)}}) (N)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "tableRange",
                                        "type": "text",
                                        "label": "Table Range"
                                    },
                                    {
                                        "name": "updates",
                                        "spec": [
                                            {
                                                "name": "spreadsheetId",
                                                "type": "text",
                                                "label": "Spreadsheet ID"
                                            },
                                            {
                                                "name": "updatedRange",
                                                "type": "text",
                                                "label": "Updated range"
                                            },
                                            {
                                                "name": "updatedRows",
                                                "type": "text",
                                                "label": "Updated rows"
                                            },
                                            {
                                                "name": "updatedColumns",
                                                "type": "text",
                                                "label": "Updated columns"
                                            },
                                            {
                                                "name": "updatedCells",
                                                "type": "text",
                                                "label": "Updated cells"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Updates"
                                    },
                                    {
                                        "name": "sheetName",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "number",
                                        "label": "Row Number"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}